/* About-us css styling part*/

.about_para_column p {
    margin-bottom: 15px !important;
    line-height: 23px !important;
}
.about_panel_group .panel-default {
    border: 0;
}
.about_panel_group .panel {
    border-radius: 0;
}
.panel-default.panel_purple {
    border-color: transparent;
}
.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}
.panel_purple {
    background: #ff6a00;
    color: #fff;
}
.panel-default {
    border-color: #ddd;
}
.panel-default.panel_purple > .panel-heading {
    background: #ff6a00;
    color: #fff;
}
.about_panel_group .panel-heading {
    padding: 15px;
    border-radius: 0;
}
.about_panel_group .panel-title {
    text-align: center;
    font-size: 20px;
}
.panel_purple {
    background: #ff6a00;
    color: #fff;
}
.collapse {
    display: none;
}
.about_panel_group .panel + .panel {
    margin-top: 1px;
}
.about_panel_group .panel-default {
    border: 0;
}
.about_panel_group .panel {
    border-radius: 0;
}
.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}
.panel_green {
    background: #b3b434;
    color: #fff;
}
.panel-default.panel_green > .panel-heading {
    background: #b3b434;
    color: #fff;
}
.about_panel_group .panel-heading {
    padding: 15px;
    border-radius: 0;
}
.about_panel_group .panel-title {
    text-align: center;
    font-size: 20px;
}
.about_panel_group .panel-title {
    text-align: center;
    font-size: 20px;
}
.panel_green {
    background: #b3b434;
    color: #fff;
}
.about_panel_group .panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fff;
}
.collpas_my_body {
    text-align: center;
    font-size: 13px;
}
.panel_green {
    color: #fff;
}
.panel_yellow {
    background: #eec217;
    color: #fff;
}
.panel-default.panel_yellow > .panel-heading {
    background: #eec217;
    color: #fff;
}
.panel_orange {
    background: #ef730b;
    color: #fff;
}
.panel-default.panel_orange > .panel-heading {
    background: #ef730b;
    color: #fff;
}
.panel_blue {
    background: #0c92e7;
    color: #fff;
}
.panel-default.panel_blue > .panel-heading {
    background: #0c92e7;
    color: #fff;
}
.about_us_hoplder{
    margin-top:20px; 
}
.panel-heading{
    border:solid 1px red;
}
.navbar-nav li a{
    font-size:12px !important; 
}

/* end of About-us css styling part*/






/* Page customization */
.banner-img img{
  width:100%; 
}
.webdesign-name{
  background-color:#014e7c;
  width:100%;
  padding:10px 0;  
}
.webdesign-name h1{
  text-align:left;
  color:#fff; 
  font-size:28px; 
}
.web-details{
  margin-top:50px; 
}

.get_quote_dv.brd {
    border: 1px solid #ccc;
}
.get_quote_dv {
    position: relative;
}
.get_quote_dv {
    background: #f4f4f4;
    min-height: 586px;
    border-radius: 10px;
    margin-bottom: 14px;
    padding-top: 15px;
}
* {
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.get_quote_dv h3 {
    color: #ff6a00;
    font-size: 30px;
    text-align: center;
    padding-top: 0px;
}
.get_quote_frm_contianer ul {
    list-style: none;
    margin: 0;
    padding: 20px;
}
.get_quote_frm_contianer ul li {
    margin-bottom: 5px;
}
::-moz-focus-inner {
    border: 0;
}
::-moz-focus-inner {
    border: 0;
}
::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.get_quote_frm_contianer input.txt {
    background: #fff;
    border: 1px solid #cfcfcf;
    height: 49px;
    width: 100%;
    padding-left: 10px;
}
.get_quote_frm_contianer ul li label.first {
    width: 20%;
}
.get_quote_frm_contianer ul li label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
* {
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.get_quote_frm_contianer ul {
    list-style: none;
}
ol, ul, ul.QLinks {
    list-style: none;
}
ul {
    list-style: none;
}
.get_quote_frm_contianer select.txt {
    background: #fff;
    border: 1px solid #cfcfcf;
    height: 49px;
    width: 100%;
    margin-bottom: 1px;
    border-radius: 4px;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/drop.png) no-repeat right #fff;
        background-position-x: right;
        background-position-y: center;
    background-position: 96% 20px;
    padding-left: 10px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
        margin-bottom: 0px;
    font: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    color: inherit;
}
.get_quote_frm_contianer ul {
    list-style: none;
}
ol, ul, ul.QLinks {
    list-style: none;
}
ul {
    list-style: none;
}
.get_quote_frm_contianer ul li label.second {
    width: 78.6%;
}
.get_quote_frm_contianer textarea.txt {
    background: #fff;
    border: 1px solid #cfcfcf;
    height: 133px;
    width: 100%;
    padding-left:10px;
}
.googleSearch_panel a:active, .googleSearch_panel a:focus, .googleSearch_panel a:hover, .googleSearch_panel input, .googleSearch_panel input[type="image"], .googleSearch_panel input[type="button"]:focus, .googleSearch_panel select:focus, :focus {
    outline: 0;
    text-decoration: none;
    transition: all 0 ease 0;
}
blockquote, body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
        padding-left: 0px;
}
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.get_quote_frm_contianer ul li button {
    background:#0c92e7;                      
    border-radius: 4px;
    display: block;
    text-transform: uppercase;
    border: 0;
    padding: 10px 5px;
    width: 100%;
    color: #fff;
    font-size: 22px;
    margin-top: 15px;
}
.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.codeigniter_inner p {
    margin-bottom: 15px !important;
    line-height: 30px !important;
}
.codeigniter_inner p {
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
}
/*section*/
/*#webdesign {
    background: rgba(0, 0, 0, 0) url("../images/ssl-bg.jpg") no-repeat scroll center top / cover;
    padding: 40px 0 30px;
}*/
.provide_illustrator h1 {
    margin: 30px 0 50px 0;
    text-align: center;
}
/*.white {
    color: #fff;
    font-weight: 300;
    line-height: 43px;
    margin: 0 0 30px;
    text-align: center;
}*/
.inner.design_web {
    margin-bottom: 30px;
}
.provide_illustrator .inner span {
    display: block;
}
.hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.provide_illustrator .inner span img {
    display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
a img, fieldset, img {
    border: 0;
}
.provide_illustrator .inner p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
#webdesign{
  margin-top:50px; 
}
#webdesign p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.provide_illustrator p {
    margin-bottom: 15px !important;
    line-height: 30px !important;
}

/*fixed header*/
.fixed-header{
    position: fixed;
    z-index: 4;
    width: 100%;
}
.fixed-header > .agile-info{

}
.page-content{
    padding-top: 119px;
}
@media(max-width:767px){
    .agileits_top_menu{
        display:none;
        border:solid 1px red; 
    }
}



/*bulk-sms css styling part*/
.grey-section {
    background-color: #f7f7f7;
}
.grey-section, .black-section, .white-section {
    padding: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.section-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
}
.title-block-container::after {
    content: '';
    clear: both;
    display: table;
}
.title-block-container.text-center {
    margin-bottom: 30px;
}
.title-block-container {
    padding: 0;
    width: 100%;
    z-index: 15;
    display: block;
    font-size: 18px;
    position: relative;
    margin: 0 auto 15px;
        margin-bottom: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.text-center {
    text-align: center;
}
.title-block-container h2 {
    margin-top: -5px;
}
.text-center .line-separator {
    margin: 25px auto;
}
.line-separator {
    width: 40px;
    height: 3px;
    display: block;
    margin: 20px 0 10px;
    background-color: #121212;
}
.col-md-12.title-block + div {
    clear: left;
}
.pricing-tables-wrapper {
    width: 100%;
    display: block;
    padding-top: 3px;
    overflow: hidden;
    position: relative;
}
.pricing-block-container::after {
    content: '';
    clear: both;
    display: table;
}
.pricing-block-container {
    width: 100%;
    display: block;
    padding: 60px 20px;
    text-align: center;
    border-radius: 2px;
    margin: 0 auto 30px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.pricing-block-container .pricing-block-title {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto 35px;
}
.pricing-block-container {
    text-align: center;
}
.pricing-block-container .pricing-block-title * {
    margin: 0;
    font-weight: 600;
}
.pricing-block-container {
    text-align: center;
}
.pricing-block-container .pricing-block-price {
    margin: 0 auto;
    padding: 15px 0;
    display: inline-block;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}
.pricing-block-container .pricing-block-price h2 {
    font-size: 0;
    line-height: 0;
    font-weight: 400;
}
.pricing-block-container .pricing-block-price * {
    margin: 0;
}
.pricing-block-container .pricing-block-price p {
    color: #ff6a00;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    line-height: 25px;
}
.pricing-block-container .pricing-block-price * {
    margin: 0;
}
.pricing-block-container .pricing-block-desc {
    width: 100%;
    display: block;
    padding-top: 40px;
}
.pricing-block-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
ol li, ul li {
    /*margin-bottom: 5px;*/
}
.pricing-block-container ul {
    list-style: none;
}
.pricing-block-container .pricing-block-button {
    width: 100%;
    display: block;
    padding: 10px 0 0;
}
.btn-gfort::after, .btn-gfort-white::after {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 2px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
a.btn:last-of-type {
    margin-right: 0;
}
.btn-gfort, .btn-gfort:focus {
    color: #ffffff !important;
    background-color: #ff6a00 !important;
}
.btn-gfort, .btn-gfort-white {
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
        margin-right: 10px;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.white-section {
    background-color: #ffffff;
}
.grey-section, .black-section, .white-section {
    padding: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.section-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
}
.col-md-12.title-block + div {
    clear: left;
}
.pricing-tables-wrapper {
    width: 100%;
    display: block;
    padding-top: 3px;
    overflow: hidden;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    color: #121212;
    letter-spacing: 0;
    margin: 0 auto 10px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
element {
    background: #ff6a00;
    color: #FFFFFF;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
element {
    color: #000000;
    border: medium solid #ff6a00;
}


/* end of bulk-sms css styling part*/


/* About-us css styling part*/
#webdesign {
    background: rgba(0, 0, 0, 0) url("../images/mobile-back.jpg") no-repeat scroll center top / cover;
}
.about_para_column p {
    margin-bottom: 15px !important;
    line-height: 23px !important;
}
.about_panel_group .panel-default {
    border: 0;
}
.about_panel_group .panel {
    border-radius: 0;
}
.panel-default.panel_purple {
    border-color: transparent;
}
.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}
.panel_purple {
    background: #ff6a00;
    color: #fff;
}
.panel-default {
    border-color: #ddd;
}
.panel-default.panel_purple > .panel-heading {
    background: #ff6a00;
    color: #fff;
}
.about_panel_group .panel-heading {
    padding: 15px;
    border-radius: 0;
}
.about_panel_group .panel-title {
    text-align: center;
    font-size: 20px;
}
.panel_purple {
    background: #ff6a00;
    color: #fff;
}
.collapse {
    display: none;
}
.about_panel_group .panel + .panel {
    margin-top: 1px;
}
.about_panel_group .panel-default {
    border: 0;
}
.about_panel_group .panel {
    border-radius: 0;
}
.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}
.panel_green {
    background: #b3b434;
    color: #fff;
}
.panel-default.panel_green > .panel-heading {
    background: #b3b434;
    color: #fff;
}
.about_panel_group .panel-heading {
    padding: 15px;
    border-radius: 0;
}
.about_panel_group .panel-title {
    text-align: center;
    font-size: 20px;
}
.about_panel_group .panel-title {
    text-align: center;
    font-size: 20px;
}
.panel_green {
    background: #b3b434;
    color: #fff;
}
.about_panel_group .panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fff;
}
.collpas_my_body {
    text-align: center;
    font-size: 13px;
}
.panel_green {
    color: #fff;
}
.panel_yellow {
    background: #eec217;
    color: #fff;
}
.panel-default.panel_yellow > .panel-heading {
    background: #eec217;
    color: #fff;
}
.panel_orange {
    background: #ef730b;
    color: #fff;
}
.panel-default.panel_orange > .panel-heading {
    background: #ef730b;
    color: #fff;
}
.panel_blue {
    background: #0c92e7;
    color: #fff;
}
.panel-default.panel_blue > .panel-heading {
    background: #0c92e7;
    color: #fff;
}
.about_us_hoplder{
    margin-top:20px; 
}
.panel-heading{
    border:solid 1px red;
}


/* end of About-us css styling part*/



