/*css styling of web-hosting*/
.grey-section {
    background-color: #f7f7f7;
}
.grey-section, .black-section, .white-section {
    padding: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.section-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
}
.title-block-container::after {
    content: '';
    clear: both;
    display: table;
}
.title-block-container.text-center {
    margin-bottom: 30px;
}
.title-block-container {
    padding: 0;
    width: 100%;
    z-index: 15;
    display: block;
    font-size: 18px;
    position: relative;
    margin: 0 auto 15px;
    margin-bottom: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.text-center {
    text-align: center;
}
.title-block-container h2 {
    margin-top: -5px;
}
.text-center {
    text-align: center;
}
.title-block-container.text-center p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.title-block-container.text-center p:last-of-type {
    margin-bottom: 0;
}
.title-block-container.text-centerp {
    margin: 0 0 15px 0;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
}
.text-center .line-separator {
    margin: 25px auto;
}
.line-separator {
    width: 40px;
    height: 3px;
    display: block;
    margin: 20px 0 10px;
    background-color: #121212;
}
.title-block-container {
    font-size: 18px;
}
.text-center {
    text-align: center;
}
.col-md-12.title-block + div {
    clear: left;
}
.content-block-container::after {
    content: '';
    clear: both;
    display: table;
}
.content-block-container {
    width: 100%;
    z-index: 10;
    display: block;
    position: relative;
    margin: 0 auto 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.content-block-style-3 i.circle-icon-block {
    top: 0;
    left: 0;
    position: absolute;
}
.content-block-container i.circle-icon-block {
    color: #ffffff;
    margin-bottom: 25px;
    background-color: #ff6a00;
}
.content-block-container i.circle-icon-block:hover {
    color: #ff6a00;
    margin-bottom: 25px;
    background-color: #fff;
}
i.circle-icon-block-lg {
    width: 64px;
    height: 64px;
    font-size: 22px;
    line-height: 64px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
i.circle-icon-block {
    color: #515151;
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.content-block-style-3 i.circle-icon-block-lg + h4 {
    padding-left: 84px;
}
.content-block-style-3 i.circle-icon-block-lg ~ p {
    padding-left: 84px;
}
p:last-of-type {
    margin-bottom: 0;
}
.title-block-container p {
    margin: 10px 0 15px 0;
    margin-bottom: 15px;
}
.title-block-container::after {
    content: '';
    clear: both;
    display: table;
}   
.white-section {
    background-color: #ffffff;
}
.grey-section, .black-section, .white-section {
    padding: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.section-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
}
.pricing-tables-wrapper {
    width: 100%;
    display: block;
    padding-top: 3px;
    overflow: hidden;
    position: relative;
}
.pricing-block-style-1::after, .pricing-block-style-1::before {
    display: none;
}
.pricing-block-style-1 {
    z-index: 20;
}
.pricing-block-container::after {
    content: '';
    clear: both;
    display: table;
}
.pricing-block-style-1 .pricing-block-container {
    border: 2px solid #ff6a00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pricing-block-container {
    width: 100%;
    display: block;
    padding: 60px 20px;
    text-align: center;
    border-radius: 2px;
    margin: 0 auto 30px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.pricing-block-container .pricing-block-title {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto 35px;
}
.pricing-block-container {
    text-align: center;
}
.pricing-block-container .pricing-block-title h1 {
    font-size: 24px;
    font-weight: 400;
}
.pricing-block-container .pricing-block-title * {
    margin: 0;
    font-weight: 600;
}
.pricing-block-container .pricing-block-price {
    margin: 0 auto;
    padding: 15px 0;
    display: inline-block;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}
.pricing-block-container .pricing-block-price h2 {
    font-size: 0;
    line-height: 0;
    font-weight: 400;
}
.pricing-block-container .pricing-block-price * {
    margin: 0;
}
.pricing-block-container .pricing-block-price p {
    color: #ff6a00;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    line-height: 25px;
}
.pricing-block-container .pricing-block-price * {
    margin: 0;
}
p:last-of-type {
    margin-bottom: 0;
}
.pricing-block-container .pricing-block-price .currency {
    font-size: 24px;
    padding-top: 5px;
    padding-right: 5px;
    vertical-align: top;
}
.pricing-block-container .pricing-block-price span {
    line-height: 1;
    display: inline-block;
}
.pricing-block-container .pricing-block-price * {
    margin: 0;
}
.pricing-block-container .pricing-block-price .amount {
    font-size: 50px;
}
.pricing-block-container .pricing-block-price .duration {
    font-size: 18px;
}
.pricing-block-container .pricing-block-features {
    width: 100%;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    padding-top: 40px;
}
.pricing-block-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
ol li, ul li {
    margin-bottom: 5px;
}
.pricing-block-container .pricing-block-button {
    width: 100%;
    display: block;
    padding: 10px 0 0;
}
.btn-gfort::after, .btn-gfort-white::after {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 2px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
element {
}
a.btn:last-of-type {
    margin-right: 0;
}
.btn-gfort, .btn-gfort:focus {
    color: #ffffff !important;
    background-color: #ff6a00 !important;
}
.btn-gfort, .btn-gfort-white {
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
        margin-right: 10px;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
a {
    color: #ff6a00;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
a {
    color: #337ab7;
    text-decoration: none;
}


/*end of web-hosting session*/